<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安装MYaf框架 - 安装完成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/admin/install/css/bootstrap.css" rel="stylesheet" />
    <link href="/admin/install/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/admin/install/css/install.css" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">
<!-- Navbar
================================================== -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" target="_blank" href="http://www.kfw001.com">MYaf</a>
            <div class="nav-collapse collapse">
                <ul id="step" class="nav">
                    <li class="active"><a href="javascript:;">安装协议</a></li>
                    <li class="active"><a href="javascript:;">环境检测</a></li>
                    <li class="active"><a href="javascript:;">创建数据库</a></li>
                    <li class="active"><a href="javascript:;">安装</a></li>
                    <li class="active"><a href="javascript:;">完成</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron masthead">
    <div class="container">
        <h1>完成</h1>
        <p>安装完成！</p>
        <present name="info">

        </present>
    </div>
</div>


<!-- Footer
================================================== -->
<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div>
            <a class="btn btn-primary btn-large" href="/center">登录后台</a>
        </div>
    </div>
</footer>
</body>
</html>